.pop-container {
    width: 640px;
    height: 480px;
}

.pop {
    width: 200px;
}

.hrt {
    position: absolute;
    width: 60px;
    top:405px;
    left: 445px;
}

.cam-container {
    border: 2px solid red;
    position:relative;
    width: 640px;
    height: 480px;
}
.cam-container  video, canvas{
    position:absolute;
    top: 0;
    left: 0;
}

.cam-container .pop{
    position:absolute;
    top:390px;
    left: 430px;
}

.spo {
    position: absolute;
    font-size: 25px;
    color: #82dcf7;
    z-index: 3;
    top:380px;
    left: 585px;
    font-family: fantasy;
}

.bpm {
    position: absolute;
    font-size: 25px;
    color: #82dcf7;
    z-index: 3;
    top:380px;
    left: 543px;
    font-family: fantasy;
}